      /* -------
        FOR ALL
      -------- */

.button {
  font-family: var(--accent-font-family), Georgia, serif;
  color: var(--button-color);
  border: 2px solid var(--main-color);
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--main-color);
  transition: box-shadow 0.3s ease;
}

.button svg {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.button:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.button:hover:after {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 10;
  text-align: center;
  mix-blend-mode: difference;
  font-family: var(--accent-font-family), Georgia, serif;
  font-size: 14px;
} 

.gum__width {
  width: var(--box-width);
}

.page {
  display: grid;
  justify-content: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-image);
  background: 
    repeating-linear-gradient(to right, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(#d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(transparent 0.01%, #e7e7e7, #1a1a1a);
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--font-family), Arial, sans-serif;
  font-variation-settings: "wght" var(--regular-font-weight);
}

      /* ------- 
        HEADER
      ------- */

.header {
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  border: 2px solid black;
  background-color: var(--main-bg-color);
  font-family: var(--accent-font-family), Georgia, serif;
  margin-block: 100px;
  padding-block: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
  text-align: center;
}

.header__logo {
  font-size: clamp(49px, 1.697rem + 4.923vw, 65px);
  text-transform: uppercase;
  margin-block-end: 20px;
}

.header__title {
  text-transform: uppercase;
  font-size: clamp(14px, 0.201rem + 2.769vw, 23px);
}

      /*------
        MAIN
      -------*/

.main {
  display: grid;
  gap: 50px;
}

.overlay {
  position: relative;
}

/* ЛЕЙБЛ - текст в углу картинки*/

.label {
  font-size: 14px;
  position: absolute;
  top: 27px;
  right: 27px;
  font-family: var(--accent-font-family), Georgia, serif;
  opacity: 0.5;
  text-shadow: -1px 0 var(--text-shadow-color), 0 1px var(--text-shadow-color), 1px 0 var(--text-shadow-color), 0 -1px var(--text-shadow-color);
}

@supports ((text-stroke: 1px var(--text-shadow-color)) or (-webkit-text-stroke: 1px var(--text-shadow-color))) {
  .label {
    -webkit-text-stroke: 1px var(--text-shadow-color);
    text-stroke: 1px var(--text-shadow-color);
    text-shadow: none;
  }
}

.article-card {
  background-color: var(--main-bg-color);
  display: grid;
  justify-content: center;
  width: var(--box-width);
  border: 2px solid black;
}

.card__titel {
  font-size: 18px;
  font-variation-settings: "wght" var(--bold-font-weight);
  margin-inline: 11px;
  margin-block: 5px;
  line-height: 21px;
}

.image {
  position: relative;
  background-size: contain;
  border: 2px solid black;
}

.card__text {
  font-size: 18px;
  margin: 25px;
  line-height: 21px;
  margin-top: 21px;
}

.paragraph_margin {
  margin-block-end: 27px;
}

.like-button {
  display: flex;
  justify-content: end;
  margin-block-end: 25px;
  margin-inline-end: 26px;
  height: 38px;
}

/* Сердечко  */

.like-icon {
  width: 38px;
}

.like-icon .core {
  fill: transparent;
}

.like-icon .contour {
  fill: var(--accent-color);
}

.like-icon .main-body {
  fill: transparent;
}

.like-icon .sparks {
  opacity: 0;
}

.card__icon-button {
  border: 2px solid transparent;
  background-color: var(--main-bg-color);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color);
  border-radius: 50%;
  transition: border 0.3s ease;
  position: relative;
  cursor: pointer;
}

.card__like-button {
  width: 130px;
  height: 38px;
}

/* Фильтры для картинок */

.filter__invert {
  filter: invert(1);
}

.filter__sepia {
  filter: sepia(100%);
}

.filter__saturate {
  filter: saturate(200%);
}

.filter__grayscale {
  filter: grayscale(1);
}

.filter__blur {
  filter: blur(1rem);
}

.filter__contrast {
  filter: contrast(200%);
}

.filter__combo {
  filter: brightness(200%) hue-rotate(-10deg);
}

.footer {
  display: flex;
  justify-content: center;
}

.save__icon-button {
  background-color: var(--main-bg-color);
  margin-block-end: 103px;
  margin-block-start: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 8px;
  width: var(--seve-button-width);
  height: var(--seve-button-height);
}

      /* -------
        DIALOG
      -------- */

.need_disk {
  width: 353px;
  height: 191px;
}

.need_disk[open] {
  background-color: var(--main-bg-color);
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
  padding: 30px;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.need_disk::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
}

.dialog__text {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  font-family: var(--accent-font-family), Georgia, serif;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;
}

.dialog__button {
  width: 293px;
  height: 38px;
}

      /* -----
        SVG 
      ----- */

.icon {
  width: var(--floppy-width);
}

.icon-big {
  width: 80.5px;
}

      /* ------
        375px
      ------- */

@media (width <= 375px) {
  .image {
  border: none;
  outline: 2px solid black;
  }
  .label {
    top: 25px;
    right: 11px;
  }
  .card__text {
    margin-top: 25px;
  }
  .need_disk {
    width: 341px;
  }
  .need_disk[open] {
    padding: 30px 40px;
  }
  .icon-big {
    width: 90px;
  }
}