/* 
БЫЛО ДО МЕНЯ
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
} */

/* 
background: url(.png), linear-gradient(180deg, #E7E7E7 0%, #1A1A1A 100%);
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  /* background color gradient */
  background: linear-gradient(180deg, #E7E7E7 0%, #1A1A1A 100%);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: var(--font-family), Arial, sans-serif;
  font-variation-settings: "wght" var(--regular-font-weight);
}

.header {
  display: grid;
  justify-content: center;
  font-family: var(--accent-font-family);
}

.header__container {
  width: var(--width);
  margin-block: 100px;
  padding-inline: clamp(0.875rem, -52.2127rem + 259.7561vw, 7.53125rem);
  padding-block: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
  border: 2px solid black;
  text-align: center;
}

.header__logo {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  text-transform: uppercase;
  margin-block-end: 20px;
}

.header__title {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
}

      /*------
        MAIN
      -------*/

.main {
  display: grid;
  gap: 50px;
  justify-content: center;
}

.overlay {
  position: relative;
}

/* ЛЕЙБЛ - текст в углу картинки*/
.label {
  position: absolute;
  top: 20px;
  right: clamp(0.8125rem, 0.6683rem + 0.6154vw, 0.9375rem);
  font-family: var(--accent-font-family);
  text-shadow: -1px 0 var(--text-shadow-color), 0 1px var(--text-shadow-color), 1px 0 var(--text-shadow-color), 0 -1px var(--text-shadow-color);
}

@supports ((text-stroke: 1px var(--text-shadow-color)) or (-webkit-text-stroke: 1px var(--text-shadow-color))) {
  .label {
    -webkit-text-stroke: 1px var(--text-shadow-color);
    text-stroke: 1px var(--text-shadow-color);
    text-shadow: none;
  }
}

.article-card {
  /* display: grid;
  justify-content: right;
  margin-inline: 72px; */
  max-width: 696px;
  width: var(--width);
  border: 2px solid black;
}

.card__titel {
  /* font-family: var(--font-family); */
  font-size: 18px;
  font-variation-settings: "wght" var(--bold-font-weight);
  margin-inline: 10px;
  margin-block: 3px;
}

.image {
  position: relative;
  width: var(--width);
  background-size: contain;
  border: 2px solid black;
}

.card__text {
  margin: 25px;
}

.like-button {
  display: flex;
  gap: 12px;
  justify-content: end;
  margin-block-end: 25px;
  margin-inline-end: 25px;
  /* width: 169px; */
  height: 38px;
}

.card__button{
  font-family: var(--accent-font-family);
  font-size: 14px;
  width: 168px;
  height: 38px;
  border: none;
  background-color: transparent;
}

.card__icon-button {
  background-color: transparent;
  border: none;
}

.card__like-button {
  width: 130px;
  height: 38px;
  background-color: transparent;
  border: 2px solid black;
}

.button__text {
  font-family: var(--accent-font-family);
  font-size: 14px;
}

    /* -------
        FOOTER
      -------- */

.footer {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.save__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 8px;
  width: var(--seve-button-width);
  height: var(--seve-button-height);
  border: 2px solid black;
  background-color: transparent;
}

.wrapper {
  width: 21px;
  height: 21px;
}

/* DESKTOP */

/* .header {
  width: clamp(375px, calc(100vw - 24px), 700px);
} */
