/* 
БЫЛО ДО МЕНЯ
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
} */

      /* -------
        FOR ALL
      -------- */

.button {
  font-family: var(--accent-font-family);
  color: var(--button-color);
  border: 2px solid var(--main-color);
  background-color: transparent;
  position: relative;
  cursor: pointer;
  /* align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center; */
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--main-color);
  transition: box-shadow 0.3s ease;
}

.button svg {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.button:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.button:hover:after {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 10;
  text-align: center;
  mix-blend-mode: difference;
} 

.gum__width {
  width: var(--width);
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: 
    url("../images/background.png"),
    repeating-linear-gradient(to right, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(#d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(transparent 0.01%, #e7e7e7, #1a1a1a)
  ;
  /* background-position: center; */
  background-attachment: fixed;
  /* background-repeat: no-repeat; */
  background-size: cover;
  font-family: var(--font-family), Arial, sans-serif;
  font-variation-settings: "wght" var(--regular-font-weight);
}

      /* ------- 
        HEADER
      ------- */

.header {
  display: grid;
  justify-content: center;
  /* justify-items: center; */
}

.header__container {
  box-sizing: border-box;
  display: grid;
  /* justify-items: center; */
  justify-content: center;
  /* height: clamp(23.438rem, 12.093rem + 49.324vw, 41.688rem); */
  border: 2px solid black;
  background-color: var(--main-bg-color);
  font-family: var(--accent-font-family);
  margin-block: 100px;
  /* padding-inline: clamp(23.438rem, 5.91rem + 42.044vw, 43.75rem); */
  padding-block: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
  text-align: center;  
}

.header__logo {
  font-size: clamp(2.722rem, 1.697rem + 4.923vw, 3.611rem);
  text-transform: uppercase;
  margin-block-end: 20px;
}

.header__title {
  text-transform: uppercase;
  font-size: clamp(0.778rem, 0.201rem + 2.769vw, 1.278rem);
}

      /*------
        MAIN
      -------*/

.main {
  display: grid;
  gap: 50px;
  justify-content: center;
}

.overlay {
  position: relative;
}

/* ЛЕЙБЛ - текст в углу картинки*/
.label {
  position: absolute;
  top: 20px;
  right: clamp(0.8125rem, 0.6683rem + 0.6154vw, 0.9375rem);
  font-family: var(--accent-font-family);
  opacity: 0.5;
  text-shadow: -1px 0 var(--text-shadow-color), 0 1px var(--text-shadow-color), 1px 0 var(--text-shadow-color), 0 -1px var(--text-shadow-color);
}

@supports ((text-stroke: 1px var(--text-shadow-color)) or (-webkit-text-stroke: 1px var(--text-shadow-color))) {
  .label {
    -webkit-text-stroke: 1px var(--text-shadow-color);
    text-stroke: 1px var(--text-shadow-color);
    text-shadow: none;
  }
}

.article-card {
  background-color: var(--main-bg-color);
  display: grid;
  justify-content: center;
  /* margin-inline: 72px; */
  max-width: 696px;
  width: var(--width);
  border: 2px solid black;
}

.card__titel {
  /* font-family: var(--font-family); */
  font-size: 18px;
  font-variation-settings: "wght" var(--bold-font-weight);
  margin-inline: 10px;
  margin-block: 3px;
}

.image {
  position: relative;
  background-size: contain;
  border: 2px solid black;
}

.card__text {
  margin: 25px;
  line-height: 21px;
}

.like-button {
  display: flex;
  gap: 12px;
  justify-content: end;
  margin-block-end: 25px;
  margin-inline-end: 25px;
  /* width: 169px; */
  height: 38px;
}

.like-icon {
  width: 38px;
  /* opacity: 0; */
}

.like-icon:hover {
  --animation-fill-color: green;
}

.card__icon-button {
  border: 2px solid transparent;
  background-color: var(--main-bg-color);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color);
  border-radius: 50%;
  transition: border 0.3s ease;
  position: relative;
  cursor: pointer;
}

.card__like-button {
  width: 130px;
  height: 38px;
  /* background-color: transparent; */
}

/* .button__text {
  font-family: var(--accent-font-family);
  font-size: 14px;
} */

    /*------------------- 
      FILTERs FOR IMAGES
    --------------------*/

.filter__invert {
  filter: invert(1);
}

.filter__sepia {
  filter: sepia(100%);
}

.filter__saturate {
  filter: saturate(200%);
}

.filter__grayscale {
  filter: grayscale(1);
}

.filter__blur {
  filter: blur(1rem);
}

.filter__contrast {
  filter: contrast(200%);
}

.filter__combo {
  filter: brightness(200%) hue-rotate(-10deg);
}


    /* -------
        FOOTER
      -------- */

.footer {
  display: flex;
  margin-block-start: 52px;
  justify-content: center;
  /* align-items: center; */
}

.save__icon-button {
  background-color: var(--main-bg-color);
  margin-block-end: 103px;
  margin-block-start: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 8px;
  width: var(--seve-button-width);
  height: var(--seve-button-height);
}

/* .wrapper {
  width: 21px;
  height: 21px;
} */

      /* -------
        DIALOG
      -------- */

.need_disk {
  /* position: absolute; */
  /* margin-block: auto;
  margin-inline: auto; */
  /* display: grid; */
  
  width: 353px;
  height: 191px;
}

.need_disk:open {
  background-color: var(--main-bg-color);

  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 30px;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.need_disk::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
}

/* .dialog__icon {
  width: 72.1px;
  height: 50px;
} */

.dialog__text {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  font-family: var(--accent-font-family);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 150%;
}

.dialog__button {
  width: 293px;
  height: 38px;
}


/* -----
   SVG 
 ----- */

.icon {
  width: var(--floppy-width);
}

.icon-big {
  width: 80.5px;
}

/* @media (width <= 375px) {
  .header {
    width: clamp(375px, calc(100vw - 24px), 700px);
  }
} */