/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --background-image: url("../images/background.png");
    /* FONTS */
    /* FONTS */
    --font-family: "Inter-Variable";
    --accent-font-family: "PressStart2P";
    --regular-font-weight: 400;
    --bold-font-weight: 700;
    /* SIZES */
    --width: clamp(375px, 16.285rem + 30.516vw, 43.75rem);
    --text-shadow-color: #FFFFFF;
    --seve-button-width: 335px;
    --seve-button-height: 55px;
    --floppy-width: 21px;
    /* COLOR */
    --main-color: #000000;
    --button-color: #F5F5F5;
    --main-bg-color:  #F5F5F5;
    /* SVG */
    --accent-color: #000000;
    --contour-color: #000000;
    --animation-fill-color: #FF0000;
}

@media (width <= 375px) {
    :root {
    /* SIZEx */
    --width: 100%;
    --seve-button-width: 306px;
    --seve-button-height: 84px;
    --floppy-width: 29px;

    }
}
