/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    /* FONTS */
    --font-family: 'Inter';
    --accent-font-family: "PressStart2P";
    --regular-font-weight: 400;
    --bold-font-weight: 700;
    /* SIZEx */
    --width: clamp(375px, 100%, 700px);
    --text-shadow-color: #FFFFFF;
    --seve-button-width: 335px;
    --seve-button-height: 55px;

}

@media (width <= 375px) {
    :root {
    /* SIZEx */
    --width: 100%;
    --seve-button-width: 306px;
    --seve-button-height: 84px;
    }
}
